<div class="container">
  <button 
    class="btn btn-filter-toggle" 
    (click)="toggleFilters()"
  >
    <i class="fa-solid fa-sliders"></i>
  </button>
  <div *ngIf="!filtersHidden"
    class="filters-container" 
  >
    <form [formGroup]="form">
      <div class="column">
        <!-- Categories -->
        <div class="col-12 mb-3" *ngIf="!categoryApplied">
          <label class="form-label" for="category">Categoría:</label>
          <div class="d-flex">
            <select class="form-select" id="category" formControlName="category" (change)="loadSubcategories()">
              <option> TODAS </option>
              <option *ngFor="let cat of filters.allCategories" [value]="cat.name">{{ cat.name }}</option>
            </select>
          </div>
        </div>

        <!-- Subcategories -->
        <div class="col-12 mb-3" *ngIf="filteredSubcategories">
          <label class="form-label">Subcategoría:</label>
          <select class="form-select" id="subcategory" formControlName="subcategory" (change)="subcategoryChange()">
            <option> TODAS </option>
            <option *ngFor="let subcat of filteredSubcategories" [value]="subcat">{{ subcat }}</option>
          </select>
        </div>
        
        <!-- Consumer -->
        <div class="col-12 mb-3">
          <label for="consumers" class="form-label">Consumidores</label>
          <select class="form-select" id="consumer" formControlName="consumer" (change)="filterChange()">
            <option> TODAS </option>
            <option *ngFor="let consumer of filters.allConsumers" [value]="consumer">{{ consumer }}</option>
          </select>
        </div>
        
        <!-- Price -->
        <div class="col-12 mb-3">
          <label class="form-label">Rango de precio</label>
          <select class="form-select" id="price" formControlName="price" (change)="filterChange()">
            <option [value]="0"> TODAS </option>
            <option *ngFor="let price of filters.allPrices" [value]="price">{{ price }}</option>
          </select>
        </div>

        <!-- CrueltyFree -->
        <div class="col-12 mb-3">
          <input 
            type="checkbox" 
            class="form-check-input" 
            [id]="isCrueltyFree"
            [value]="true"
            formControlName="crueltyFree"
            (change)="filterChange()"
          >
          <label class="form-label">No probado en animales</label>
        </div>

        <!-- Vegan -->
        <div class="col-12 mb-3">
          <input 
            type="checkbox" 
            class="form-check-input" 
            [id]="isVegan"
            [value]="true"
            formControlName="vegan"
            (change)="filterChange()"
          >
          <label class="form-label">Vegano</label>
        </div>

        <!-- Mostrar/ocultar filtros adicionales -->
        <div *ngIf="showAdditionalFilters">
          <!-- Autonomous Community -->
          <div class="col-12 mb-3">
            <label for="autonomousCommunity" class="form-label">Comunidad Autónoma</label>
            <select class="form-select" id="autonomousCommunity" formControlName="autonomousCommunity" (change)="onAutonomousCommunityChange()" [disabled]="form.get('autonomousCommunity')?.disabled ?? false">
              <option> TODAS </option>
              <option *ngFor="let community of filters.allAutonomousCommunities" [value]="community">{{ community }}</option>
            </select>
          </div>

          <!-- Province -->
          <div class="col-12 mb-3">
            <label for="province" class="form-label">Provincia</label>
            <select class="form-select" id="province" formControlName="province" (change)="onProvinceChange()" [disabled]="form.get('province')?.disabled ?? false">
              <option> TODAS </option>
              <option *ngFor="let province of filters.allProvinces" [value]="province">{{ province }}</option>
            </select>
          </div>

          <!-- Location -->
          <div class="col-12 mb-3">
            <label for="location" class="form-label">Localidad</label>
            <select class="form-select" id="location" formControlName="location" (change)="onLocationChange()" [disabled]="form.get('location')?.disabled ?? false">
              <option> TODAS </option>
              <option *ngFor="let location of filters.allLocations" [value]="location">{{ location }}</option>
            </select>
          </div>

          <!-- Labels -->
          <div class="col-12 mb-3 labels">
            <label class="form-label">Etiquetas</label>
            <div class="d-grid labels-container" formGroupName="labels">
              <div *ngFor="let label of filters.allLabels" class="form-check me-3">
                <input 
                    type="checkbox" 
                    class="form-check-input" 
                    [id]="label"
                    [value]="label"
                    [checked]="this.form.get('labels')?.value?.includes(label)"
                    (change)="onLabelChange($event, label)"
                >
                <label class="form-check-label" [for]="label">
                    {{ label }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-link" (click)="toggleAdditionalFilters()">
          {{ showAdditionalFilters ? 'Ver menos filtros' : 'Ver más filtros' }}
        </button>
      </div>
    </form>
  </div>
</div>
