<div class="container mt-4" style="padding-bottom: 40px;">
  <div class="route" *ngIf="categoryApplied">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/brands" class="vtmn-block">TODAS</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/brands', categoryApplied.name]" class="vtmn-block">{{ categoryApplied.name }}</a>
        </li>
        <li class="breadcrumb-item" *ngIf="categoryApplied.subcategories && categoryApplied.subcategories.length > 0">
          <a [routerLink]="['/brands', categoryApplied.name, categoryApplied.subcategories[0]]" class="vtmn-block">{{ categoryApplied.subcategories[0] }}</a>
        </li>
      </ol>
    </nav>
  </div>


  <div class="row" *ngIf="isLoading && !filtersLoaded" >
    <div class="col-md-3">
      <div class="skeleton skeleton-filters"></div>
    </div>

    <div class="col-md-8"  style="margin-left: auto; margin-right: auto;">
      <div class="skeleton-brands">
        <div *ngFor="let _ of [].constructor(12)" class="brand-item">
          <div class="card skeleton">
            <div class="card-body">
              <h5 class="card-title"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading && filtersLoaded">
    <div class="col-md-3">
      <app-filters
        [filters]="allfilters" 
        [actualFilters]="actualFilters"
        (onChange)="filterChange($event)">
      </app-filters>
    </div>

    <div class="col-md-8" style="margin-left: auto; margin-right: auto;">
      <app-brands-list
        [brandsList]="paginatedBrands" 
        (onBrandDetails)="brandDetails($event)">
      </app-brands-list>
    
      <div class="pagination" style="text-align: center; margin-top: 20px;">
        <button 
          *ngFor="let page of [].constructor(totalPages); let i = index" 
          (click)="changePage(i + 1)" 
          [class.active]="currentPage === i + 1">
          {{ i + 1 }}
        </button>
      </div>
    </div>
  </div>
</div>
