<div class="menu-container">
  <button class="menu-toggle" (click)="toggleMenu()">☰ Menú</button>
  <nav class="menu" [class.active]="menuOpen">
    <ul class="menu-list">
      <li class="nav-item">
        <button class="category-toggle" (click)="otherClicked('home')">
          Inicio
        </button>
      </li>
      <li class="nav-item">
        <button class="category-toggle" (click)="otherClicked('brands')">
          Ver todas las marcas
        </button>
      </li>
      <li *ngFor="let category of categories">
        <div class="categories">
          <button class="category-toggle" (click)="categoryClicked(category.name)">
            {{ category.name }}
          </button>
          <button class="submenu-toggle" (click)="toggleSubmenu(category)">
            {{ isSubmenuActive(category) ? '−' : '+' }}
          </button>
        </div>
        <ul class="submenu" [class.active]="isSubmenuActive(category)">
          <li *ngFor="let subcategory of category.subcategories" (click)="subcategoryClicked(category.name, subcategory)">
            {{ subcategory }}
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
